<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHWeexSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCF02FCD1EE52A120027C0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF02FE61EE52A120027C0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF02FF11EE52A120027C0B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
